    nav {
        background-color: #FFFFFF;
        color: black;
        text-transform: uppercase;
        ul {
            li {
                a {
                    color: black;
                }
            }
        }
    }
    
    .sidenav-trigger {
        color: black !important;
    }
    
    .menu-bar {
        li:not(:last-of-type) {
            margin-right: 2.4rem;
        }
    }
    
    .header-banner {
        color: #FFFFFF;
        text-align: center;
        background-image: url(../img/banner.png);
        background-position: center;
        background-size: cover;
        .banner-text {
            padding: 18.9rem 0;
            h1 {
                font-size: 4.3rem;
                margin: 0;
            }
            p {
                font-size: 1.5rem;
                margin: 1rem 0 1.8rem 0;
            }
            a {
                font-size: 1.3rem;
                color: #FFFFFF;
            }
        }
    }
    
    .design-inspires {
        text-align: center;
        h2 {
            font-size: 2.7rem;
            margin: 5.34rem 0 1.6rem 0;
        }
        p {
            font-size: 1rem;
            color: #A0A0A0;
            margin-bottom: 1.73rem;
        }
        a {
            color: black;
        }
    }
    
    .laptop-desk {
        margin-top: 5.39rem;
        text-align: center;
        img {
            width: 98%;
        }
        h3 {
            font-size: 1.79rem;
        }
        a {
            color: black;
        }
    }
    
    .slider {
        width: 50%;
        margin: 100px auto;
    }
    
    .slick-slide {
        margin: 0px 20px;
    }
    
    .slick-slide img {
        width: 100%;
    }
    
    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
    
    .slick-slide {
        transition: all ease-in-out .3s;
    }
    
    .slick-current {
        opacity: 1;
    }
    
    .featured {
        .text-featured {
            text-align: center;
            h2 {
                font-size: 2.7rem;
                margin: 5.34rem 0 1.6rem 0;
            }
            p {
                font-size: 1rem;
                color: #A0A0A0;
                margin-bottom: 5.33rem;
            }
        }
        .daggable {
            img {
                margin-bottom: 0.55rem;
            }
            p {
                color: #A0A0A0;
                margin: 0;
            }
        }
    }
    
    .home-office {
        margin: 6.3rem 0 7.3rem 0;
        padding: 11.6rem 0 12.3rem 0;
        background-image: url(../img/home-office.png);
        color: #FFFFFF;
        text-align: center;
        background-position: center;
        background-size: cover;
        h2 {
            font-size: 4.3rem;
        }
        p {
            font-size: 1.5rem;
            margin: 1rem 0 1.8rem 0;
        }
        a {
            font-size: 1.3rem;
            color: #FFFFFF;
        }
    }
    
    .hard-way {
        text-align: center;
        h2 {
            margin-top: 0;
            margin-bottom: 1.53rem;
        }
        p {
            margin: auto;
            font-size: 1rem;
            color: #A0A0A0;
            width: 55%;
        }
        img {
            width: 100%;
            margin: 1.53rem 0 0 0;
        }
    }
    
    .make-work {
        h2 {
            margin-top: 2.53rem;
        }
        p {
            padding-bottom: 1.53rem;
        }
    }
    
    .some-people {
        img {
            width: 95%;
            margin-top: 0.4rem;
        }
        .col {
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    .we-hope {
        margin-bottom: 8.08rem;
        text-align: center;
        h2 {
            margin: 8.26rem 0 2.93rem 0;
        }
        a {
            color: #000;
        }
    }
    
    .design-text-block {
        color: white;
        text-align: center;
        padding: 8rem 0;
        background-color: #9AA8B1;
        h2 {
            margin-top: 1.53rem;
        }
    }
    
    footer {
        .row {
            margin-bottom: 0;
        }
        margin-top: 2.6rem;
        padding-top: 5.13rem;
        background-color: #F9F9F9;
        .footer-nav {
            color: black;
            font-size: 1.46rem;
        }
        h3 {
            margin-top: 1.8rem;
            font-size: 1.47rem;
        }
        p {
            width: 82%;
            font-size: 0.93rem;
            color: #A0A0A0;
        }
        .go-up {
            text-align: center;
            margin-top: -5.1rem;
            padding: 1.46rem 0 1.86rem 0;
            background-color: black;
            p {
                width: auto;
                color: white;
            }
        }
        .col:last-of-type {
            padding: 0;
        }
        .footer-copy {
            background-color: #F9F9F9 !important;
            a {
                margin-left: 2.46rem;
            }
            a:hover {
                color: black !important;
            }
        }
    }
    
    @media screen and(max-width:600px) {
        .go-up {
            display: none;
        }
        .footer-copy {
            a {
                margin-left: 0.5rem !important;
            }
        }
    }